html{
    background-color: lightgray;
}
body{
    width: 850px;
    margin: 0 auto;
    position: relative;
}
#main{
    width: 850px;
    margin: 0 auto;
    height: 360px;
    background-color: green;
    position: absolute;
    z-index: -1;
}
.nav-bar{
    position: absolute;
    bottom: 5px;
    right: 10px;
    margin: 0;
    padding: 0;
    border-spacing: 0px;
}
#likeb{
    margin-right: 10px;
}
td{
    padding: 0;
    margin: 0;
}
.nav-button{
    margin: 0;
    border: 0;
    height: 20px;
}
#fallout-img{
    height: 10px;
    width: 10px;
}
body{
    width: 850px;
    margin: 0 auto;
}
.picbox{
    height: 180px;
    width: 180px;
    background-color: green;
    border: 1px black solid;
    position: absolute;
    top: 220px;
    left: 15px;
}
.whitebox{
    margin: 0 auto;
    width: 850px;
    height: 60px;
    background-color: white;
    z-index: -1;
    position: absolute;
    top: 360px;
}
h1{
    margin: 0;
    position: absolute;
    top: 285px;
    left: 205px;
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}
h2{
    margin: 0;
    position: absolute;
    top: 325px;
    left: 210px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1em;
}
.github{
    color: white;
}
.options-bar{
    position: absolute;
    top: 380px;
    left: 200px;
    border-spacing: 0px;
}
.options-button{
    margin: 0px;
    border-right-width: 2px;
    height:25px;
    min-width:80px;
}
.fixing-fuck-ups{
    height: 420px;
}
.left-side{
    float: left;
    box-sizing: border-box;
    width: 328px;
    
}
.right-side{
    float: right;
    box-sizing: border-box;
    width: 512px;
    
}
.left-box{
    background: white;
    margin-top: 20px;
}
.left-box p{
    margin-left:10px;
    padding-bottom:10px;
}
.right-box{
    margin-top: 20px;
    background: white;
}
.top-left-box{
    height:20px;
}
.top-left-box p{
    min-height: 20px;
    margin-left:10px;
    margin-right:10px;
    font-weight: 600;
    border-bottom: 2px black solid;
}
.top-right-box{
    height:60px;
}
.smallpic{
    float: left;
    margin: 10px;
    height: 40px;
    width: 40px;
    background-color: green;
    z-index: 1;
    border: 1px solid black;
}
.name-date{
    float:left;
    margin-left: 10px;
    margin-top: 15px;
}
.date-name{
    font-weight: 300;
    color: gray;
}
.top-right-box-info{
    float: left;
    margin-top: 15px;
    margin-left:10px;
}
.right-box p{
    margin-left: 10px;
    text-transform: capitalize;
}
.post-images{
    margin: 10px;
    z-index: 1;
    height: 300px;
    width:470px;
}
.bottom-right-box{
    min-height:40px;
    background-color: whitesmoke;
    z-index: 1;
}
.bottom-right-box-menu{
    float: left;
    margin:8px;
}